# API hosting virables

REDIS_HOST=localhost
REDIS_PORT=7001
REDIS_DECODE_RESPONSES=True
REDIS_ENCODING=utf-8
REDIS_MAX_REQUESTS=5
REDIS_WINDOW_SECONDS=60
REDIS_URL="redis://default:"

DOMAIN=http://127.0.0.1:8000
RESEND_API_KEY=xxxxxxxxxxxxxxx

# 3. SMTP AUTOMATED MAIL ENGINE
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME="yourEmail@gmail.com"
SMTP_PASSWORD="your16characterstringwithoutspaces"

